<div class="cont-thumb">
  <img src="{{ 'banner-mexico.png' | theme_image_url }}" class="img">
</div>

<div class="cont-thumb">
  <img src="{{ 'banner-ifai.png' | theme_image_url }}" class="img">
</div>

<div class="cont-thumb">
  <img src="{{ 'banner-sitios-de-interes.png' | theme_image_url }}" class="img">
</div>