<div class="col-10 leyes">
  <h3>LEYES Y REGLAMENTOS</h3>
</div>
<div class="col-2 ver-todo">
  {% link_to leyes-y-reglamentos %}
  VER TODO
  {% endlink_to %}
</div>

<div class="row col-12 divider"></div>

<div class="col-9 list-2row">
  <a href="#"><img src="{{'icono-libro.png' | theme_image_url }}" class="img"></a>
  <a href="#"><h5>LEYES FEDERALES EN GENERAL</h5></a>
  <span>Descarga leyes o documentos federales</span>
</div>
<div class="col-3 ir-seccion">
  <a href="#">IR A LA SECCIÓN</a>
</div>

<div class="row col-12 divider"></div>

<div class="col-9 list">
  <a href="#"><img src="{{'icono-libro.png' | theme_image_url }}" class="img"></a>
  <a href="#"><h5>SOBRE LA CORRUPCIÓN INTERNACIONAL</h5></a>
</div>
<div class="col-3 ir-seccion">
  <a href="#">IR A LA SECCIÓN</a>
</div>

<div class="row col-12 divider"></div>

<div class="col-9 list">
  <a href="#"><img src="{{'icono-libro.png' | theme_image_url }}" class="img"></a>
  <a href="#"><h5>TRATADOS Y CONVENIOS INTERNACIONALES</h5></a>
</div>
<div class="col-3 ir-seccion">
  <a href="#">IR A LA SECCIÓN</a>
</div>

<div class="row col-12 divider"></div>

<div class="col-9 list">
  <a href="#"><img src="{{'icono-libro.png' | theme_image_url }}" class="img"></a>
  <a href="#"><h5>SOBRE LA PRODUCCIÓN CINEMATOGRÁFICA</h5></a>
</div>
<div class="col-3 ir-seccion">
  <a href="#">IR A LA SECCIÓN</a>
</div>          

<div class="row col-12 divider"></div>