<div class="col-8 cartelera">
  <div class="col-11 cartelera">
    <h4>CARTELERA DE LA SEMANA</h4>
  </div>
  <div class="col-1 mas">
    <a href="#">MÁS</a>
  </div>
  <div class="col-6 carte">
    <img src="{{'movie1.jpg' | theme_image_url }}" class="img">
    <h5>LOS FABULOSOS 7</h5>
    <span>Fernando Sariñana</span>
    <span>2013</span>
  </div>
  <div class="col-6 carte">
    <img src="{{'movie2.jpg' | theme_image_url }}" class="img">
    <h5>ACTORES, S.A.</h5>
    <span>Carlos González Sariñana</span>
    <span>2008</span>
  </div>
</div><!-- CLOSE col-8 cartelera -->

<div class="col-4 festivales">
  <div class="col-2 festivales">
    <h4>FESTIVALES</h4>
  </div>
  <div class="col-4 mas">
    <a href="#">MÁS</a>
  </div>
  <div class="col-8 fest">
    <img src="{{'festival1.png' | theme_image_url }}" class="img">
    <h5>CUTOUT FEST 2013</h5>
    <a href="#">MÁS INFO</a>
    <img src="{{'festival2.png' | theme_image_url }}" class="img">
    <h5>6° FESTIVAL ZANATE</h5>
    <a href="#">MÁS INFO</a>
  </div>
</div><!-- close col-4 festivales -->
<!-- Termina Sección Cartelera y Festivales -->  