<div class="convocatorias">
  <div class="cont-convocatorias">
    <div class="over-last-div"></div>
    <p class="text-center" id="title-convo">CONVOCATORIAS</p>
  </div>
  <div class="borde-convocatorias">
    <img src="{{ 'bullet-cine-convocatorias.png' | theme_image_url }}" class="img">
    <p><a href="#">Convocatoria del 64° Festival Internacional del Cine de Berlín</a></p>
    <p class="text-convocatorias">Fecha límite: 20 de diciembre.</p>
  </div>
  <div class="borde-convocatorias">
    <img src="{{ 'bullet-cine-convocatorias.png' | theme_image_url }}" class="img">
    <p><a href="#">Convocatoria del Taller de Escritura de Series Dramatizadas para Televisión</a></p>
    <p class="text-convocatorias">Fecha límite para enviar documentación: 17 de enero 2014.</p>
  </div>
  <div class="borde-convocatorias" id="without-border">
    <img src="{{ 'bullet-cine-convocatorias.png' | theme_image_url }}" class="img">
    <p><a href="#">Convocatoria de Talents Guadalajara</a></p>
    <p class="text-convocatorias">Para escritores, cineastas y músicos.</p>
  </div>
</div><!--finall convocatorias-->