<div class="convocatorias">
  <div class="cont-convocatorias">
    <div class="over-last-div"></div>
    <p class="text-center" id="title-convo">CONVOCATORIAS</p>
  </div>
  {% for convocatoria in contents.convocatorias limit:6 %}
  <div class="borde-convocatorias">
    <img src="{{ 'bullet-cine-convocatorias.png' | theme_image_url }}" class="img">
    <p><a href="/estimulos-y-apoyos/convocatorias/{{ convocatoria._permalink }}">{{ convocatoria.titulo }}</a></p>
    <p class="text-convocatorias">{{ convocatoria.fecha | localized_date: '%d/%m/%Y'}}</p>
  </div>
  {% endfor %}
</div><!--finall convocatorias-->