<div class="row festivales">
  <h4>FESTIVALES</h4>
  <a href="#"><p class="text-right" id="ver-todo">VER TODO</p></a>
  <div class=" row col-3">
    <div class="thumbnail">
      <img src="{{ 'cutout.jpg' | theme_image_url }}" class="img">
      <h6>CUTOUT FEST 2013</h6>
      <p class="light">QUERÉTARO, MÉXICO</p>
      <a href="#"><p class="text-left">MÁS INFO</p></a>
    </div><!--finall thumbnail-->
  </div><!--finall row col-3-->
  <div class="row col-3">
    <div class="thumbnail">
      <img src="{{ 'zanate.jpg' | theme_image_url }}" class="img">
      <h6>6° FESTIVAL <br>ZANATE DE CINE<br> Y VIDEO DOCU...</h6>
      <p class="light">COLIMA, COLIMA</p>
      <a href="#"><p class="text-left">MÁS INFO</p></a>
    </div><!--finall thumbnail-->
  </div><!--finall row col-3-->
  <div class="row col-3">
    <div class="thumbnail">
      <img src="{{ 'iberoamericano.jpg' | theme_image_url }}" class="img">
      <h6>39° FESTIVAL DE<br> CINE IBEROAMERI- <br>CANO DE HUELVA.</h6>
      <p class="light">HUELVA, ESPAÑA</p>
      <a href="#"><p class="text-left">MÁS INFO</p></a>
    </div><!--finall thumbnail-->
  </div><!--finall row col-3-->
  <div class="row col-3">
    <div class="thumbnail">
      <img src="{{ 'memoria.jpg' | theme_image_url }}" class="img">
      <h6>7° FESTIVAL DE LA<br> MEMORIA DOCU- <br>MENTAL IBEROA...</h6>
      <p class="light">CUERNAVACA, MORELOS. <br>MÉXICO</p>
      <a><p class="text-left">MÁS INFO</p></a>
    </div><!--finall thumbnail-->
  </div><!--finall row col-3-->
  <div class="row-f1">
    <h4>PRESENCIA IMCINE</h4>
  </div>
  <div class="row-f2">
    <div class="footer-festivales-1">
      <h4><a href="#">PELÍCULAS</a> | </h4>
    </div>
    <div class="footer-festivales-2">
      <a href="#"><h4>VIDEOGALERÍA</h4></a>
    </div>
  </div>
</div>