<div class="noticias">
  <h4>ESTÍMULOS Y APOYOS</h4>
  <ul class="list-noticias">
    {% nav 'estimulos-y-apoyos', depth: 1, no_wrapper: true, exclude: nil, icon: false %}
  </ul>
</div><!-- close noticias -->