<div class="noticias">
  <h4>CINE NACIONAL</h4>
  <ul class="list-noticias">
    {% nav 'cine-nacional', depth: 1, no_wrapper: true, exclude: nil, icon: false %}
  </ul>
</div><!-- close noticias -->