<div class="noticias">
  <h4>COMUNICACIÓN SOCIAL</h4>
  <ul class="list-noticias">
    {% nav 'comunicacion-social', depth: 1, no_wrapper: true, exclude: nil, icon: false %}
  </ul>
</div><!-- close noticias -->