<div class="row slider2">
   
  <div id="featured-noticias">
   {% for slide in contents.noticias %}
    <img src="{{ slide.imagen_destacada_url }}" class="img" data-caption="#desc1">
   
  

  <!-- Captions for Orbit -->
  <span class="orbit-caption" style="color: #ffffff; text-align: left;" id="desc1">
    <strong>{{ slide.titulo }}</strong>
    <br>{{ slide.descripcion }}
  </span>
  {% endfor %}
    </div>
</div>