<div class="row slider2">
  <h4>NOTICIAS</h4>
  <ul id="slider1">
    <li>
      <img src="{{ 'slider3.jpg' | theme_image_url }}" class="img">
      <div class="bx-wrapper bx-caption" id="slider3">
        <h5>HAY UNA REAPROXIMACIÓN DEL CINE MEXICANO CON EL ESPECTADOR</h5>
        <p>El titular del Imcine habló sobre el éxito reciente de la cinematografía nacional duranre<br> la ponencia "Los retos...</p>
        <div id="ver-caption"><a href="#">VER</a></div>
      </div> 
    </li>
    <li>
      <img src="{{ 'slider3.jpg' | theme_image_url }}" class="img">
      <div class="bx-wrapper bx-caption" id="slider3">
        <h5>HAY UNA REAPROXIMACIÓN DEL CINE MEXICANO CON EL ESPECTADOR</h5>
        <p>El titular del Imcine habló sobre el éxito reciente de la cinematografía nacional duranre<br> la ponencia "Los retos...</p>
        <div id="ver-caption"><a href="#">VER</a></div>
      </div> 
    </li>
    <li><img src="{{ 'slider3.jpg' | theme_image_url }}" class="img">
      <div class="bx-wrapper bx-caption" id="slider3">
        <h5>HAY UNA REAPROXIMACIÓN DEL CINE MEXICANO CON EL ESPECTADOR</h5>
        <p>El titular del Imcine habló sobre el éxito reciente de la cinematografía nacional duranre<br> la ponencia "Los retos...</p>
        <div id="ver-caption"><a href="#">VER</a></div>
      </div> 
    </li>
    <li><img src="{{ 'slider3.jpg' | theme_image_url }}" class="img">
      <div class="bx-wrapper bx-caption" id="slider3">
        <h5>HAY UNA REAPROXIMACIÓN DEL CINE MEXICANO CON EL ESPECTADOR</h5>
        <p>El titular del Imcine habló sobre el éxito reciente de la cinematografía nacional duranre<br> la ponencia "Los retos...</p>
        <div id="ver-caption"><a href="#">VER</a></div>
      </div> 
    </li>
  </ul>
  
  <div id="bx-pager1">
    <a data-slide-index="0" href="#">1</a>
    <a data-slide-index="1" href="#">2</a>
    <a data-slide-index="2" href="#">3</a>
    <a data-slide-index="3" href="#">4</a>
  </div>                         
</div>