<div class="social-icons">
  <h6>SÍGUENOS:</h6>
  <ul id="social">
    <li><a href="https://www.facebook.com/IMCINE" target="_blank"><img src="{{ 'facebook.jpg' | theme_image_url }}" class="img"></a></li>
    <li><a href="#"><img src="{{ 'googleplus.jpg' | theme_image_url }}" class="img"></a></li>
    <li><a href="https://www.youtube.com/user/IMCINEChannel" target="_blank"><img src="{{ 'youtube.jpg' | theme_image_url }}" class="img"></a></li>
    <li><a href="#"><img src="{{ 'instagram.jpg' | theme_image_url }}" class="img"></a></li>
  </ul>
</div>