<div class="row col-12 videos">
  <h4>VIDEOS</h4>
  <img src="{{ 'social-video1.png' | theme_image_url }}" class="img">
  <img src="{{ 'social-video2.png' | theme_image_url }}" class="img">
  <h6><a href="#">FOTOS DE CLAUSURA 11 FICM 2013</a></h6>
</div><!--finall row col-12 viideos-->