---
title: FOPROCINE
slug: foprocine
handle: foprocine
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 4
seo_title: FOPROCINE
editable_elements:
  /bienvenida_estimulos: "<p>Si buscas apoyo para realizar tu proyecto cinematogr&aacute;fico,
    el Imcine te puede ayudar a trav&eacute;s de los fondos y programas que administra.</p>\r\n<p>Existen
    varios programas y fondos que intentan abarcar una amplia gama de apoyos, desde
    desarrollo de proyectos y escritura de guiones, hasta la producci&oacute;n y postproducci&oacute;n
    de cortos y largometrajes.</p>\r\n<p>Es importante que tomes en cuenta las convocatorias
    vigentes y sus caracter&iacute;sticas. Si no tienes claro qu&eacute; tipo de apoyo
    se puede ajustar a tus necesidades, te invitamos a consultar Tu apoyo paso a paso.</p>"
---
{% extends 'parent' %}