---
title: INICIO
handle: inicio
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 0
seo_title: Instituto Mexicano de Cinematografía
---
---
title: Página de inicio
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 0
---
<!DOCTYPE html>
<html class="">
<head>
	{% include 'head' %}
</head>
<body>

<div class="panels ">
  <div class="panel panel-left">
  </div>
</div>

<div class="panel-content">
  <div class="all-site">
    
    <!-- Header -->
      {% include 'header' %}
    <!-- final Header -->

    <div class="container-center">
      <div class="row">
        <div class="col-12">
          
          <!-- Slider Principal -->
          
          {% include 'slider-principal' %}
          
          <!--final slider1-->

          
          <!-- Accesos Directos - Página Principal -->
          <div class="row content2">
            <div class="row col-4" id="cine">
              <div class="cine">
                <div class="over-cont-cine">
                  <a href="#" id="text-cine"><p class="text-center">CURSOS <br>Y TALLERES</p></a>
                </div>
              </div> 
            </div>
            <div class="row col-4" id="cine">
              <div class="cine">
                <div class="over-cont-cine">
                  <a href="#"><p class="text-center">OBSERVATORIO<br> Y ESTADÍSTICAS</p></a>
                </div>
              </div> 
            </div>
            <div class="row col-4" id="cine">
              <div class="cine">
                <div class="over-cont-cine">
                  <a href="#"><p class="text-center">CINEMA<br> MÉXICO</p></a>
                </div>
              </div> 
            </div>
            <div class="row col-4" id="cine">
              <div class="cine">
                <div class="over-cont-cine">
                  <a href="#"><p class="text-center" id="one-line">COMEFILM</p></a>
                </div>
              </div> 
            </div>
            <div class="row col-4" id="cine">
              <div class="cine">
                <div class="over-cont-cine">
                  <a href="#"><p class="text-center">CINE EN TU<br> COMUNIDAD</p></a>
                </div>
              </div> 
            </div>
            <div class="row col-4" id="cine">
              <div class="cine">
                <div class="over-cont-cine">
                  <a href="#"><p class="text-center" id="one-line">CINESECUENCIAS</p></a>
                </div>
              </div> 
            </div>
          </div>
          
          <!--finall content2-->

        </div><!--finall col-12-->

        <div class="row col-9" id="main-content">
          <!-- Cartelera -->
			{% include 'cartelera-principal' %}
          <!--finall cartelera-->

          <!-- Festivales -->
          	{% include 'festivales-principal' %}
          <!--finall festivales-->

          <!-- Slider Noticias -->
			{% include 'slider-noticias' %}
          <!--finall slider2-->
        </div><!--finall col-9-->

        
		<!-- Sidebar Principal -->
        <div class="row col-3" id="sidebar-right">
          {% include 'sidebar-principal' %}
        </div><!--final col-3-->

      </div><!--final -row-->
    </div><!--final container-center-->

	<!-- Footer -->
	    {% include 'footer' %}
    <!-- final Footer -->
  </div><!--final all-site-->
</div><!--finall panel-content-->

  

<!-- Javascripts Página Principal -->
  
<script>

$(document).ready(function(){

	$('#slider1').bxSlider({
	  mode: 'fade',
	  auto: true,
	  autoControls: true,
	  pause: 2000,
	  pagerCustom: '#bx-pager1'
	});

	$('#slider2').bxSlider({
	  auto: true,
	  autoControls: true,
	  pause: 3000,
	  slideMargin: 20,
	  captions: true,
	  pagerCustom: '#bx-pager2'
	});

	$(function() {
	    $(".anyClass").jCarouselLite({
	      btnNext: ".next",
	      btnPrev: ".prev"
	    });
	});

});

</script>

</body>
</html>