---
title: INICIO
handle: inicio
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 0
seo_title: Instituto Mexicano de Cinematografía
---
---
title: Página de inicio
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 0
---
<!DOCTYPE html>
<html class="">
<head>
	{% include 'head' %}
</head>
<body>

<div class="panels ">
  <div class="panel panel-left">
  </div>
</div>

<div class="panel-content">
  <div class="all-site">
    
    <!-- Header -->
      {% include 'header' %}
    <!-- final Header -->

    <div class="container-center">
      <div class="row">
        <div class="col-12">
          
          <!-- Slider Principal -->
          
          {% include 'slider-principal' %}
          
          <!--final slider1-->

          
          <!-- Accesos Directos - Página Principal -->
          {% include 'accesos-directos-index' %}

        </div><!--finall col-12-->

        <div class="row col-9" id="main-content">
          <!-- Cartelera -->
			{% include 'cartelera-principal' %}
          <!--finall cartelera-->

          <!-- Festivales -->
          	{% include 'festivales-principal' %}
          <!--finall festivales-->

          <!-- Slider Noticias -->
			{% include 'slider-noticias' %}
          <!--finall slider2-->
        </div><!--finall col-9-->

        
		<!-- Sidebar Principal -->
        <div class="row col-3" id="sidebar-right">
          {% include 'sidebar-principal' %}
        </div><!--final col-3-->

      </div><!--final -row-->
    </div><!--final container-center-->

	<!-- Footer -->
	    {% include 'footer' %}
    <!-- final Footer -->
  </div><!--final all-site-->
</div><!--finall panel-content-->

  

<!-- Javascripts Página Principal -->
  
  <!-- Run the plugin Slider principal -->
    <script type="text/javascript">
      $(window).load(function() {
        $('#featured').orbit({
          captions: true
        });
      });
    </script>
  <!-- Fin Slider Principal -- >

  <!-- Carousel Slider -->
    <script>
      $(document).ready(function(){

        $(function() {
          $(".anyClass").jCarouselLite({
            btnNext: ".next",
            btnPrev: ".prev"
          });
        });
      });
    </script>
  <!--Fin carousel Slider-->

  <!-- Slider Noticias -->
    <script type="text/javascript">
      $(window).load(function() {
        $('#featured-noticias').orbit({
          captions: true,
          animation: 'fade'
        });
      });
    </script>
  <!-- Fin Slider Noticias -- >
  
<!--script>

  $(document).ready(function(){

	$('#slider1').bxSlider({
	  mode: 'fade',
	  auto: true,
	  autoControls: true,
	  pause: 2000,
	  pagerCustom: '#bx-pager1'
	});

	$('#slider2').bxSlider({
	  auto: true,
	  autoControls: true,
	  pause: 3000,
	  slideMargin: 20,
	  captions: true,
	  pagerCustom: '#bx-pager2'
	});

	$(function() {
	    $(".anyClass").jCarouselLite({
	      btnNext: ".next",
	      btnPrev: ".prev"
	    });
	});

});

</script-->

</body>
</html>