---
title: DIRECCIÓN
slug: direccion
handle: direccion
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 3
seo_title: Dirección
editable_elements:
  /bienvenida_imcine: <p>Bienvenidos. Esta es la secci&oacute;n en la que podr&aacute;s
    encontrar la informaci&oacute;n sobre el Instituto:&nbsp;qui&eacute;nes somos,
    las leyes y reglamentos que enmarcan nuestro quehacer y la actividad cinematogr&aacute;fica&nbsp;en
    el pa&iacute;s, los informes de Imcine y las estad&iacute;sticas sobre el cine
    nacional y las respuestas a las preguntas m&aacute;s frecuentes sobre el Instituto,
    el cine en M&eacute;xico y m&aacute;s.</p>
---
{% extends 'parent' %}