---
title: NORMATIVA Y REGLAMENTOS DEL CINE
slug: normativa-y-reglamentos-del-cine
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 8
seo_title: NORMATIVA Y REGLAMENTOS DEL CINE
editable_elements:
  /bienvenida_estimulos: '<p><span>Encuentra aqu&iacute; las pel&iacute;culas mexicanas
    que hoy est&aacute;n en pantalla: ya sea en las salas de cine comercial, movi&eacute;ndose
    en circuitos culturales, festivales y mercados, o ciclos y muestras en M&eacute;xico
    y al rededor del mundo.</span></p>'
---
{% extends 'parent' %}